.vscode/**
.vscode-test/**
node_modules/**
src/**
.gitignore
.nvmrc
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

.prettierignore
.prettierrc
yarn.lock
contribute.md

webpack.extension.js
scaffold/**
projectsConfig/**
ai-*/
benchmark-out/
TestPics/
docs/
scripts/
github-issues/
issues/